.all-cards {
    display: grid;
    grid-template-columns: 306px 306px 306px 306px;
    margin-top: 30px;
    row-gap: 35px;
    column-gap: 25px;
}

.all-cards__card {
    background-color: rgba(248, 253, 254, 1);
    border: 1px solid rgba(168, 168, 168, 1);
    padding: 30px 25px;
    position: relative;
}

.card__name {
    font-family: Cabin , sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid rgba(168, 168, 168, 1);
    color: rgba(31, 31, 31, 1);
    padding-bottom: 3px;
    display: block;
    width: 242px;
    text-decoration: none;
}

.title {
    font-family: Cabin , sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(31, 31, 31, 1);
    border-bottom: 1px solid rgba(168, 168, 168, 1);
    padding: 20px 0px;
    padding-top: 30px;
}

.cardphoto {
    padding: 0px 33px;
    margin-bottom: 20px;
}

.card__author {
    font-family: Cabin, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(142, 142, 142, 1);
    margin-top: 2px;
}

.price-tag__cost {
    font-family: Cabin, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(233, 0, 0, 1);
    margin-top: 10px;
    margin-bottom: 15px;
}

.card__btn {
    font-family: Cabin, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    padding: 8px 78px;
    background: rgba(76, 57, 78, 1);
    color: rgba(248, 253, 254, 1);
    border: none;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
}

.card__btn2 {
    font-family: Cabin, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    padding: 8px 101px;
    background: rgba(77, 118, 45, 1);
    color: rgba(248, 253, 254, 1);
    border: none;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
}

.card__btn:hover {
    background: rgba(116, 73, 120, 1);
    transition: 0.5s;
}

.card__btn2:hover {
    background: rgba(109, 178, 54, 1);
    transition: 0.5s;
}

.Chat {
    border: none;
    background-color: rgba(0, 255, 255, 0);
    position: sticky;
    bottom: 0;
    display: block;
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.Chat:hover {
transform: rotate(390deg);
transition: 0.5s;
}

.card__price-tag {
    display: flex;
}

.price-tag__cost--old {
    font-family: Cabin , sans-serif;
font-size: 24px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
color: rgba(142, 142, 142, 1);
text-decoration: line-through;
margin-top: 10px;
margin-left: 30px;
}

.card__hit {
    font-family: Cabin , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(248, 253, 254, 1); 
    background: rgba(66, 0, 255, 1);
    padding: 4px 8px;
    position: absolute;
    border-radius: 4px;
}

.card__new {
    font-family: Cabin , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(248, 253, 254, 1); 
    background: rgba(175, 57, 231, 1);
    padding: 4px 8px;
    position: absolute;
    border-radius: 4px;
}

.card__sale--new {
    right: 157px;
}

.card__sale {
    font-family: Cabin , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(248, 253, 254, 1); 
    background: rgba(175, 57, 231, 1);
    padding: 4px 8px;
    border-radius: 4px;   
    background: rgba(234, 51, 192, 1);
    position: absolute;
}