footer {
    background: rgba(76, 57, 78, 1);
    max-width: 1400px;
    margin: 0 auto;
}

.text__copyright {
    font-family: Cabin , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(248, 253, 254, 1);  
}

.footer__text {
    padding: 30px 0px;
    display: flex;
    margin: auto 50px
}

.text__reserved {
    font-family: Cabin , sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: rgba(248, 253, 254, 1);
margin-left: auto;
}