.header {
    max-width: 1400px;
    position: sticky;
    top: 0;
    z-index: 1;
    margin: 0 auto;
}

.header__top {
    background: rgba(16, 187, 213, 1);
    padding: 25px 0;
    display: flex;
}

.container {
    margin: auto 50px;
    max-width: 1400px;
}

.header__logo-name {
    margin-left: 50px;
    font-family: Cabin , sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color: rgba(248, 253, 254, 1);
text-decoration: none;
margin-top: 8px;
}

.header__logo-name::before {
    content: url(../images/logo.svg);
    position: relative;
    right: 10px;
    top: 4px;
}

.header__logo {
    margin-right: 10px;
}

.cart__cost {
    font-family: Cabin, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(248, 253, 254, 1);
    padding-top: 10px;
    margin-right: 10px;
}

.cart__icon {
    border: none;
    background-color: rgba(255, 0, 0, 0);
    background-image: url(../images/cart_icon.svg);
    padding: 20px 20px;
    background-repeat: no-repeat;
    font-size: 14px;
    cursor: pointer;
}

.cart-icon--number {
    position: relative;
    bottom: 11px;
    right: 1px;
}

.header__cart {
    display: flex;
    margin-left: auto;
    margin-right: 45px;
}

.header__bottom {
    padding: 5px 0;
    display: flex;
    background-color: white;
}

.bottom__category {
    font-family: Cabin, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    margin-left: 50px;
}

.left__text {
    font-family: Cabin, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    margin-left: 40px;
}

.left__text:last-child {
    margin-right: 50px;
}


.bottom__left-text {
    margin-left: auto;
}