@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

a {
    text-decoration: none;
}

main {
    background: rgba(238, 238, 239, 1);
    max-width: 1400px;
    margin: 0 auto;
}